* {
    font-family: 'MuseoSansCyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.promo {
    min-height: 650px;
    padding: 21px 0 90px 0;
    background: url('../../img/bg/bg1.jpg') center center / cover no-repeat 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 250px;
    width: 100%;
}

.header_official {
    color: #FFF;
    text-align: center;
    font-family: "MuseoSansCyrl-500";
    font-size: 12px;
    font-weight: 500;
}

span {
    display: block;
    color: #FFF;
    margin-top: 7px;
    text-align: center;
    font-family: "MuseoSansCyrl-500";
    font-size: 18px;
    font-weight: 500;
}

.header_phone {
    display: block;
    color: #FFF;
    text-align: right;
    font-family: "MuseoSansCyrl-700";
    font-size: 18px;
    font-weight: 700;
}

.button {
    background-color:#C70101;
    width: 153px;
    height: 32px;
    border-radius: 5px;
    border: none;

    color: #FFF;
    text-align: center;
    font-family: "MuseoSansCyrl-500";
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.promo_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
}

.promo_header {
    color: #FFF;
    text-align: right;
    font-family: MuseoModerno;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 100% */
    text-transform: uppercase;
}

.promo_subheader {
    color: #FFF;
    margin-top: 17px;
    text-align: right;
    font-family: "MuseoSansCyrl-500";
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.promo_icons {
    margin-top: 60px;
    width: 425px;
    display: flex;
    justify-content: space-between;
}

.promo_icon {
    display: block;
    width: 136px;

    color: #FFF;
    text-align: center;
    font-family: "MuseoSansCyrl-300";
    font-size: 16px;
    font-weight: 300;
}

/* Animation */

.screen_messages {
    animation-name: test2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;}
    :hover {
    animation-play-state: none;}
    @keyframes test2 {
         from {transform: scale(0.9);}
    50% {
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }
}

.button_main {
    margin-top: 67px;
    background-color:#C70101;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;

    color: #FFF;
    text-align: center;
    font-family: "MuseoSansCyrl-500";
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.promo_link {
    margin-top: 10px;
    color: #FFF;
    font-family: "MuseoSansCyrl-500";
    font-size: 16px;
    font-weight: 500;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.benefit {
    min-height: 473px;
    padding: 73px 0 73px 0;
}

.title {
    color: #0D0D0D;
    margin-bottom: 60px;
    text-align: center;
    font-family: "MuseoSansCyrl-700";
    font-size: 30px;
    font-weight: 700;
    line-height: 30px; /* 100% */
}

.benefit_wrapper {
    display: flex;
    justify-content: space-between;
}

.benefit_icon {
    min-width: 70px;
    min-height: 70px;

    color: #0D0D0D;
    text-align: center;
    font-family: "MuseoSansCyrl-700";
    font-size: 18px;
    font-weight: 700;
}

/* Animation */

.benefit_icon_animated {
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;}
    :hover {
    animation-play-state: paused;}
    @keyframes heartbeat {
         from {transform: scale(1);}
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

.benefit_descr {
    max-width: 269px;
    max-height: 91px;
    margin-top: 20px;
    color: #0D0D0D;
    text-align: center;
    font-family: "MuseoSansCyrl-300";
    font-size: 16px;
    font-weight: 300;
}

.benefit span {
    display: inline;
    color: #F00;
    font-family: "MuseoSansCyrl-300";
    font-size: 16px;
    font-weight: 300;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.consultation {
    min-height: 680px;
    padding: 100px 0 100px 0;
    background: url('../../img/bg/bg2.jpg') center center / cover no-repeat ;
}

.title_left {
    color: #FFF;
    text-align: left;
    font-size: 36px;
    font-family: "MuseoSansCyrl-700";
    font-weight: 700;
    text-transform: uppercase;
}

.consultation_descr {
    color: #FFF;
    text-align: left;
    font-family: "MuseoSansCyrl-500";
    font-size: 20px;
    font-weight: 500;
}

.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    width: 303px;
    height: 54px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;

    color: #4B4B4B;
    padding: 0 20px;
    font-family: "MuseoSansCyrl-300";
    font-size: 14px;
    font-weight: 400;
}

.button_submit {
    width: 100%;
    height: 58px;
    border-radius: 5px;
    border: none;
    background-color: #C70101;

    color: #FFF;
    text-align: center;
    font-family: "MuseoSansCyrl-500";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.carousel {
    padding: 90px 0;
}

.carousel_inner{
    position: relative;
    width: 750px;
    margin: 0 auto;
}

.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    width: 31px;
    height: 50px;
    border: none;
    background-color: #fff;
}

.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -66px;
    border: none;
    background-color: #fff;
}

.catalog {
    padding-bottom: 100px;
}

.catalog_title {
    color: #0D0D0D;
    text-align: center;
    font-family: "MuseoSansCyrl-500";
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-transform: uppercase;
}

.catalog_tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.catalog_tab {
    width: 222px;
    height: 52px;
    border: 2px solid #D0D0D0;
    transform: skewX(-25deg);
    margin: 0 5px;
    cursor: pointer;
}

.catalog_red_tab {
    width: 223px;
    height: 52px;
    background-color: #C70101;
    transform: skewX(-25deg);
    margin: 0 5px;
    cursor: pointer;
}

.catalog_header {
    color: #6B6B6B;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 48px;
    transform: skewX(25deg);
}

.catalog_white_header {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    text-transform: uppercase;
    transform: skewX(25deg);
}

.catalog_content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.catalog_item {
    margin-top: 60px;
    margin-right: 20px;
    width: 303px;
    min-height: 442px;
    border: 2px solid #D0D0D0;
    padding: 20px 18px 21px 23px;
}

.catalog_item_img {
    display: block;
    max-width: 100%;
    height: 200px;
    margin: 0px auto;
}

.catalog_item_subtitle {
    color: #0D0D0D;
    margin-top: 20px;
    text-align: center;
    font-family: "MuseoSansCyrl-700";
    font-size: 18px;
    font-weight: 700;
}

.catalog_item_descr {
    color: #0D0D0D;
    margin-top: 15px;
    text-align: center;
    font-family: "MuseoSansCyrl-300";
    font-size: 16px;
    font-weight: 300;
}

.more {
    display: block;
    color: #C70101;
    margin: 10px 0px 15px 0px;
    text-align: center;
    font-family: "MuseoSansCyrl-500";
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: underline;
}

hr {
    background-color: #E8E8E8;
    margin-top: 17px;
    margin-bottom: 21px;
    border-bottom: none;
}

.catalog_item_footer {
    margin-bottom: 21px;
}


.catalog_item_old_price {
    color: #555;
    font-family: "MuseoSansCyrl-300";
    font-size: 14px;
    font-weight: 300;
    text-decoration-line: line-through;
}
    
.catalog_item_price {
    color: #050505;
    font-family: "MuseoSansCyrl-700";
    font-size: 20px;
    font-weight: 700;
}

.button_catalog_btn {
    width: 135px;
    height: 44px;
    background-color: #C70101;

    color: #FFF;
    text-align: center;
    font-family: "MuseoSansCyrl-500";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}

.reviews {
    padding-bottom: 60px;
}

.reviews_title {
    color: #0D0D0D;
    text-align: center;
    font-family: "MuseoSansCyrl-700";
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.review_text {
    margin-top: 60px;
    margin-left: 62px;
    padding-right: 60px;
}

.review_name_surname {
    color: #0D0D0D;
    font-family: "MuseoSansCyrl-700";
    font-size: 18px;
    font-weight: 700;
}

.review_subtitle {
    color: #646464;
    font-family: "MuseoSansCyrl-500";
    font-size: 14px;
    font-weight: 500;
}

.review_descr {
    color: #0D0D0D;
    margin-top: 10px;
    font-family: "MuseoSansCyrl-300";
    font-size: 16px;
    font-weight: 300;
}

.review_item {
    display: flex;
}

.review_img {
    margin-top: 60px;
    width: 169px;
    height: 169px;
}

.footer {
    height: 630px;
    position: relative;
}

.footer_info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 459px;
    height: 270px;
    background-color: #C70101;;
    padding: 50px 53px 56px 53px;
}

    .footer_addr {
        margin-bottom: 36px;
        color: #FFF;
        text-align: center;
        font-family: "MuseoSansCyrl-500";
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
}

    .footer_phone {
        color: #FFF;
        display: block;
        margin-bottom: 36px;
        text-align: center;
        font-family: "MuseoSansCyrl-700";
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
}

    .footer_social-item {
        margin: 0 30px;
}

    .footer_social-icons {
        width: 53px;
        height: 52px;
}

    .overlay {
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
}

    .modal {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 382px;
        height: 410px;
        background-color: #FAFAFA;
        padding: 40px 35px 40px 35px;
        overflow: hidden;
}

    .modal_close {
        position: absolute;
        right: 5px;
        top: 14px;
        font-size: 41px;
        line-height: 9px;
        color: #C70101;
        cursor: pointer 
}

    .modal_subtitle {
        color: #0D0D0D;
        text-align: center;
        font-family: "MuseoSansCyrl-700";
        font-size: 19px;
        font-weight: 700;
}

    .modal_descr {
        color: #0D0D0D;
        text-align: center;
        font-family: "MuseoSansCyrl-500";
        font-size: 16px;
        font-weight: 500;
}

    .feed-form_mt25 {
        margin-top: 25px;
}

    #consultation {
        display: none;
}

    #order {
        display: none;
 }

    #thanks {
        display: none;
    }

    .modal_mini {
        width: 382px;
        min-height: 143px;
}


   /*  Responsive */

   @media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    .container {
        max-width: 475px;
    }
    .promo {
        min-height: 433px;
    }
    .promo_wrapper {
        margin-top: 60px;
    }
    .logo {
        width: 167px;
        height: 30px;
    }
    .header_official{
        font-size: 9px;
    }
    .header_phone {
        font-size: 12px;
    }
    .button{
        width: 114px;
        height: 27px;
        font-size: 9px;
    }
    .button_main{
        width: 230px;
        height: 40px;
        font-size: 12px;
        margin-top: 47px;
    }
    span {
        font-size: 12px;
    }
    .promo_header {
        font-size: 28px;
        line-height: 37px;
    }
    .promo_subheader {
        font-size: 16px;
        margin-top: 10px;
    }
    .promo_icon {
        width: 90px;
        font-size: 12px;
    }
    .timer {
        width: 36px;
        height: 34px;
    }
    
    .hand_cart {
        width: 36px;
        height: 34px;
    }
    .screen_messages{
        width: 36px;
        height: 34px;
    }
    a {
        font-size: 12px;
    }
    .promo_link {
        font-size: 12px;
        margin-top: 15px;
    }
    .benefit {
        min-height: 376px;
        padding: 48px 0 48px 0;
    }
    .title {
        font-size: 21px;
        margin-bottom: 40px;
    }
    .icons {
        width: 46px;
        height: 43px;
    }
    .benefit_icon_animated{
        width: 46px;
        height: 43px;
    }
    .benefit_icon{
        font-size: 16px;
        min-width: 46px;
        min-height: 43px;
        margin-right: 12px;
    }
    .benefit_descr{
        margin-top: 13px;
        font-size: 12px;
        max-width: 179px;
        max-height: 61px;
    }
    .benefit span {
        font-size: 12px;
    }
    .consultation {
        min-height: 453px;
        padding: 70px 0 70px 0;
    }
    .title_left {
        font-size: 24px;
    }
    .consultation_descr {
        font-size: 16px;
    }
    .feed-form {
        width: 200px;
    }
    input {
        width: 202px;
        height: 36px;
        font-size: 10px;
    }
    .button_submit {
        height: 38px;
        font-size: 11px;
    }
    .carousel {
        padding: 60px 0;
    }
    .slick_slider_img {
        width: 450px;
    }
    .catalog {
        padding-bottom: 80px;
    }
    .catalog_title {
        font-size: 20px; 
    }
    .catalog_tabs {
        margin-top: 33px;
    }
    .catalog_tab {
        width: 157px;
        height: 39px;
        margin: 0 10px;
    }
    .catalog_red_tab {
        width: 157px;
        height: 39px;
        margin: 0 10px;
    }
    .catalog_white_header {
        font-size: 12px;
        line-height: 39px;
    }
    .catalog_header {
        font-size: 12px; 
        line-height: 39px;  
    }
    .catalog_content {
        justify-content: center;
        margin-top: 25px;
    }
    .catalog_item {
        margin-top: 40px;
        margin-right: 15px;
        width: 202px;
        min-height: 294px;
        padding: 18px 14px 16px 18px;
    }
    .catalog_item_content {
        height: 300px;
    }
    .catalog_item_img {
        max-width: none;
        height: 150px;
    }
    .catalog_item_subtitle {
        margin-top: 15px;
        font-size: 14px;
    }
    .catalog_item_descr {
        margin-top: 10px;
        font-size: 12px;
    }
    .more {
        font-size: 9px;
        margin: 8px 0px 12px 0px;
    }
    .catalog_item_old_price {
        font-size: 12px;
    }
    .catalog_item_price {
        font-size: 14px;
    }
    .button_catalog_btn {
        width: 90px;
        height: 29px;
        font-size: 9px;
    }
    .reviews {
        padding-bottom: 50px;
    }
    .reviews_title {
        font-size: 24px;
        margin-bottom: 50px;
    }
    .review_img {
        margin-top: 50px;
            width: 132px;
                height: 131px;
    }
    .review_name_surname {
        font-size: 16px;
    }
    .review_subtitle {
        font-size: 12px;
    }
    .review_descr {
        font-size: 13px;
    }
    .review_text {
        margin-left: 41px;
        margin-top: 45px;
        padding-right: 50px;
    }
    .footer_info {
        width: 300px;
        height: 210px;
        padding: 33px 35px 37px 35px;
    }
    .footer_addr {
        margin-bottom: 30px;
        font-size: 17px;
    }
    .footer_phone {
        font-size: 16px;
        margin-bottom: 26px;
    }
    .footer_social-item {
        margin: 0 15px;
    }
    .footer_social-icons {
        width: 41px;
        height: 42px;
    }
    .footer_social-item {
        margin: 0 15px;
    }
}

@media screen and (max-width: 425px) {
    .promo {
        padding: 21px 30px 21px 30px;
    }
    .promo_wrapper {
        margin-top: 50px;
    }
    .logo {
        width: 126px;
        height: 23px;
    }
    .header_official {
        font-size: 8px;
    }
    span {
        font-size: 10px;
        margin-top: 6px;
    }
    .header_phone {
        font-size: 11px;
    }
    .button {
        width: 90px;
        height: 24px;
        font-size: 6px;
    }
    .promo_header {
        font-size: 19px;
        line-height: 31px;
    }
    .promo_subheader {
        font-size: 14px ;
    }
    .promo_icons {
        width: 263px;
        margin-top: 40px;
    }
    .promo_icon {
        font-size: 11px;
    }
    .timer {
        width: 34px;
        height: 32px;
    }
    .hand_cart {
        width: 36px;
        height: 34px;
    }
    .screen_messages {
        width: 34px;
        height: 32px;
    }
    .button_main {
        width: 153px;
        height: 36px;
        font-size: 8px;
        margin-top: 35px;
    }
    .promo_link {
        font-size: 11px;
        margin-top: 12.5px;
    }
    a {
        font-size: 11px;
    }
    .benefit {
        padding: 34px 0 34px 0;
    }
    .title {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .benefit_wrapper {
        display: block;
    }
    .benefit_icon {
        font-size: 14px;
    }
    .icons {
        width: 49px;
        height: 46px;
    }
    .benefit_icon_animated {
        width: 44px;
        height: 43px;
    }
    .benefit_descr {
        transform: translateX(60%);
        font-size: 12px;
        max-height: 36px;
        margin-bottom: 76px;
        margin-top: 6px;
    }
    .benefit span {
        font-size: 11px;
    }
    .consultation {
        min-height: 302px;
        padding: 70px 66px 66px 70px;
    }
    .title_left {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .consultation_descr {
        font-size: 14px;
    }
    .feed-form {
        margin-top: 24px;
    }
       input {
        width: 159px;
            height: 33px;
                font-size: 9px;
                margin-bottom: 13px;
    }
    .button_submit {
        height: 33px;
        width: 159px;
        font-size: 8px;
    }
    .carousel {
        padding: 45px;
    }
    .slick_slider_img {
        width: 300px;
        margin: 0 auto;
    }
    .catalog {
        padding-bottom: 50px;
    }
    .catalog_title {
        font-size: 18px;
        line-height: 36px;
    }
    .catalog_tabs {
        margin-top: 22px;
    }
    .catalog_red_tab {
        width: 120px;
        height: 39px;
    }
    .catalog_white_header {
        font-size: 11px;
        line-height: 40px;
    }
    .catalog_tab {
        width: 120px;
        height: 39px;
    }
    .catalog_header {
        font-size: 11px;
        line-height: 36px;
    }
    .catalog_content {
        display: block;
    }
    .catalog_item {
        margin-right: none;
        width: 100%;
        padding: 16px 50px 10px 50px;
    }
    .catalog_item_content {
        height: 100%;
    }
    .catalog_item_img {
        height: 133px;
    }
    .catalog_item_subtitle {
        margin-top: 12px;
        font-size: 15px;
    }
    .catalog_item_descr {
        font-size: 14px;
    }
    .more {
        font-size: 11px;
        margin: 10px 0px 12px 0px;
    }
    hr {
        margin-top: 15px;
        margin-bottom: 13px;
    }
    .catalog_item_old_price {
        font-size: 14px;
    }
    .catalog_item_price {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .button_catalog_btn {
        font-size: 8px;
        width: 300px;
        height: 34px;
    }
    .reviews {
        padding-bottom: 50px;
    }
    .reviews_title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .review_img {
        width: 96px;
        height: 94px;
    }
    .review_name_surname {
        font-size: 14px;
    }
    .review_subtitle {
        font-size: 11px;
    }
    .review_descr {
        font-size: 11px;
            margin-top: 9px;
    }
    .footer_info {
        width: 231px;
        height: 109px;
        padding: 22px 23px 22px 23px;
    }
    .footer_addr {
        margin-bottom: 20px;
        font-size: 12px;
    }
    .footer_phone {
        font-size: 11px;
        margin-bottom: 20px;
    }
    .footer_social-icons {
        width: 27px;
        height: 28px;
    }
}
@media screen and (max-width: 390px) {
     .logo {
        width: 103px;
        height: 19px;
    }
    .hand_cart {
        width: 34px;
        height: 32px;
    }
    .promo_icon {
        font-size: 9px;
    }
    .benefit_descr {
        transform: translateX(50%);
        margin-bottom: 60px;
        margin-top: 8px;
        font-size: 12px;
        max-height: 36px;
    }
    .header_official {
        font-size: 6px;
    }
    span {
        font-size: 8px;
    }
    .button_catalog_btn {
        font-size: 8px;
        width: 265px;
        height: 33px;
    }
    .footer_phone {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 375px) {
    .promo {
        min-height: 288px;
        padding: 21px 40px 21px;
    }
    .promo_wrapper {
        margin-top: 35px;
    }
    .logo {
        width: 96px;
        height: 17px;
    }
    .header_official {
        font-size: 7px;
    }
    span {
        font-size: 7px;
    }
    .header_phone {
        font-size: 8px;
    }
    .button {
        width: 63px;
        height: 19px;
        font-size: 5px;
    }
    .promo_header {
        font-size: 16px;
        line-height: 20px;
    }
    .promo_subheader {
        font-size: 12px;
    }
    .timer {
        width: 28px;
        height: 26px;
    }
    .hand_cart {
        width: 31px;
        height: 29px;
    }
    .screen_messages {
        width: 28px;
        height: 26px;
    }
    .benefit_icon_animated {
        width: 34px;
        height: 33px;
    }
    .promo_icon {
        font-size: 8px;
    }
    .promo_icons {
        width: 241px;
        margin-top: 35px;
    }
    .button_main {
        width: 140px;
        height: 26px;
        font-size: 7px;
        margin-top: 25px;
    }
    a {
        font-size: 9px;
    }
    .promo_link {
        font-size: 9px;
    }
    .title {
        font-size: 16px;
        margin-bottom: 26px;
    }
    .benefit {
        padding: 21px 0 16px 0;
    }
    .benefit_icon {
        font-size: 12px;
    }     
    .icons {
        width: 41px;
        height: 39px;
    }
    .benefit_descr {
        transform: translateX(45%);
        font-size: 11px;
        max-height: 33px;
        margin-top: 4px;
    }
    .benefit span {
        font-size: 10px;
    }
    .title_left {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .consultation {
        min-height: 300px;
        padding: 43px 60px 43px 60px;
    }
    .consultation_descr {
        font-size: 12px;
    }
    input {
        width: 126px;
        height: 27px;
        font-size: 8px;
        margin-bottom: 11px;
    }
    .button_submit {
        font-size: 7px;
        width: 126px;
        height: 27px;
    }
    .carousel {
        padding: 30px;
        margin-bottom: 30px;
    }
    .slick_slider_img {
        width: 200px;
        margin: 0 auto;
    }
    .slick-dots{
        width: 21px;
        height: 24px;
        font-size: 14px;
        text-align: center;
    }
    .catalog {
        padding-bottom: 40px;
    }
    .catalog_title {
        font-size: 15px;
    }
    .catalog_tabs {
        margin-top: 16px;
    }
    .catalog_red_tab {
        width: 90px;
        height: 30px;
    }
    .catalog_white_header {
        font-size: 8px;
        line-height: 33px;
    }
    .catalog_tab {
        width: 90px;
        height: 30px;
    }
    .catalog_header {
        font-size: 8px;
        line-height: 29px;
    }
    .catalog_item {
        margin-top: 30px;
        padding: 13px 60px 13px 60px;
    }
    .catalog_item_img {
        height: 96px;
    }
    .catalog_item_subtitle {
        font-size: 13px;
    }
    .catalog_item_descr {
        font-size: 13px;
    }
    .more {
        font-size: 9px;
    }
    hr {
        margin-top: 12px;
        margin-bottom: 10px;
    }
    .catalog_item_old_price {
        font-size: 11px;
    }
    .catalog_item_price {
        font-size: 13px;
        margin-bottom: 3px;
    }
    .button_catalog_btn {
        font-size: 8px;
        width: 230px;
        height: 28px;
    }
    .reviews {
        padding-bottom: 40px;
    }
    .reviews_title {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .review_img {
        width: 81px;
        height: 79px;
    }
    .review_name_surname {
        font-size: 12px;
    }
    .review_subtitle {
        font-size: 10px;
    }
    .review_descr {
        font-size: 10px;
    }
    .footer_info {
        width: 183px;
        height: 96px;
        padding: 11px 12px 11px 12px;
    }
    .footer_addr {
        margin-bottom: 10px;
        font-size: 11px;
    }
    .footer_phone {
        font-size: 10px;
        margin-bottom: 10px;
    }
   
}

@media screen and (max-width: 320px) {
    .promo {
        min-height: 192px;
        padding: 21px 31px 21px 31px;
    }
    .promo_wrapper {
        margin-top: 30px;
    }
    .logo {
        width: 72px;
        height: 14px;
    }
    .header_official {
        font-size: 6px;
    }
    span {
        margin-top: 13px;
        font-size: 6px;
    }
    .header_phone {
        font-size: 7px;
    }
    .button {
        width: 56px;
        height: 16px;
        font-size: 4px;
    }
    .promo_header {
        font-size: 13px;
        line-height: 0px;
    }
    .promo_subheader {
        font-size: 10px;
    }
    .timer {
        width: 24px;
        height: 23px;
    }
    .hand-cart {
        width: 29px;
        height: 26px;
    }
    .screen_messages {
        width: 24px;
        height: 23px;
    }
    .promo_icon {
        font-size: 7px;
    }
    .promo_icons {
        width: 176px;
        margin-top: 20px;
    }
    .timer {
        width: 23px;
        height: 23px;
    }
    .screen_messages {
        width: 24px;
        height: 23px;
    }
    .hand_cart {
        width: 26px;
        height: 27px;
    }
    .button_main {
        width: 119px;
        height: 23px;
        font-size: 6px;
        margin-top: 20px;
    }
    .promo_link {
        font-size: 8px;
    }
    a {
        font-size: 8px;
    }
    .benefit {
        padding: 10px 0 13px 0;
    }
    .title {
        font-size: 14px;
        margin-bottom: 17px;
    }
    .icons {
        width: 33px;
        height: 31px;
    }
    .benefit_icon {
        font-size: 11px;
    }
    .benefit_descr {
        transform: translateX(30%);
        font-size: 10px;
        max-height: 21px;
        margin-bottom: 66px;
        margin-top: 6px;
    }
    .benefit_icon_animated {
        width: 36px;
        height: 33px;
    }
    .benefit span {
        font-size: 9px;
    }
    .consultation {
        min-height: 201px;
        padding: 50px 40px 50px 40px;
    }
    .title_left {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .consultation {
        min-height: 201px;
        padding: 30px 50px 30px 50px;
    }
    .consultation_descr {
        font-size: 10px;
    }
    input {
        width: 99px;
        height: 21px;
        font-size: 7px;
        margin-bottom: 7px;
    }
    .button_submit {
        font-size: 5px;
        width: 99px;
        height: 23px;
    }
    .slick_slider_img {
        width: 180px;
    }
    .carousel {
        margin-bottom: 40px;
    }
    .catalog {
        padding-bottom: 30px;
    }
    .catalog_title {
        font-size: 14px;
        line-height: 21px;
    }
    .catalog_tabs {
        margin-top: 13px;
    }
    .catalog_red_tab {
        width: 64px;
        height: 22px;
    }
    .catalog_white_header {
        font-size: 6px;
        line-height: 23px;
    }
    .catalog_tab {
        width: 64px;
        height: 22px;
    }
    .catalog_header {
        font-size: 6px;
        line-height: 20px;
    }
    .catalog_item {
        margin-top: 25px;
        padding: 10px 60px 10px 60px;
    }
    .catalog_item_img {
        height: 76px;
    }
    .catalog_item_subtitle {
        font-size: 12px;
    }
    .catalog_item_descr {
        font-size: 11px;
    }
    .more {
        font-size: 8px;
    }
    hr {
        margin-top: 9px;
        margin-bottom: 11px;
    }
    .catalog_item_old_price {
        font-size: 10px;
    }
    .catalog_item_price {
        font-size: 11px;
        margin-bottom: 1px;
    }
    .button_catalog_btn {
        font-size: 7px;
        width: 175px;
        height: 24px;
    }
    .catalog_item_footer {
        margin-bottom: 18px;
    }
    .reviews {
        padding-bottom: 30px;
    }
    .reviews_title {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .review_img {
        width: 69px;
        height: 64px;
    }
    .review_name_surname {
        font-size: 11px;
    }
    .review_subtitle {
        font-size: 8px;
    }
    .review_descr {
        font-size: 9px;
        margin-top: 6px;
    }
    .footer_info {
        width: 134px;
        height: 83px;
        padding: 9px 10px 9px 10px;
    }
    .footer_addr {
        margin-bottom: 5px;
        font-size: 8px;
    }
    .footer_phone {
        font-size: 9px;
        margin-bottom: 5px;
    }
    

}

